.nav {
	grid-area: n;
	background-color: lightseagreen;
	padding: 20px;
}
.item {
	padding-bottom: 10px;
}
.item:last-child {
	padding-bottom: 0;
}

.item a {
	color: white;
	text-decoration: none;
}

.item a.activeLink {
	color: gold;
}