*, *::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.app-wrapper {
	min-height: 100vh;
	margin: 0 auto;
	width: 1200px;
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
	grid-template-areas: 
	"h h"
	"n c";
}

.app-wrapper__content {
	grid-area: c;
	background-color: lightsteelblue;
}
